<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
         http://cxf.apache.org/jaxws 
          http://cxf.apache.org/schemas/jaxws.xsd">

	<context:component-scan base-package="com.americacg.cargavirtual.web" />
	<context:annotation-config />
	<context:spring-configured />

	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />

	<context:property-placeholder location="classpath:web.properties, classpath:gatewayPagoElectronico.properties"/>
	<!--  poner , para poder agregar muchos properties ejemplo classpath:foo.properties, classpath:bar.properties -->
	
	<bean name="CoreServiceHelp" depends-on="WebLogHelp"
		class="com.americacg.cargavirtual.web.helpers.CoreServiceHelper">
		<property name="urlWebService"
			value="${web.urlCoreWebService}" />
	</bean>

	<bean name="GestionServiceHelp" depends-on="WebLogHelp"
		class="com.americacg.cargavirtual.web.helpers.GestionServiceHelper">
		<property name="urlWebService"
			value="${web.urlGestionWebService}" />
	</bean>

	<bean name="GCSIServiceHelp" depends-on="WebLogHelp"
		class="com.americacg.cargavirtual.web.helpers.GCSIServiceHelper">
		<property name="urlWebService"
			value="${web.urlGCSIWebService}" />
	</bean>

	<bean name="WebLogHelp" 
		class="com.americacg.cargavirtual.web.helpers.LogACGHelper">
		<property name="pathLog" value="${web.pathlog}" />
		<property name="pathLogWin" value="${web.pathlogWin}" />
	</bean>
</beans>
